.header {
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

.pageName {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #1a202c;
  margin: 0px;
}

.headerTools {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 8px;
  gap: 18px;
  width: 163px;
  height: 48px;
  background: #fafafa;
  border-radius: 1000px;
}
.vector {
  position: relative;
  left: 10px;
}
