.table {
  gap: 8px;
  margin-top: 30px;
}

.tableHeadButton {
  align-items: center;
  color: #718096;
  background-color: white;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  overflow: visible;
  padding: 0;
  border: none;
  background: none;
}
.tableHead {
  text-align: left;
  border-top: 1px solid #e2e8f0;
  padding: 25px 0px;
}

.tableHeadRow {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #718096;


}

.name {
  width: 216px;
  height: 24px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #1a202c;
margin-left: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.selectedButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 103px;
  height: 48px;

  border: 1px solid #e2e8f0;
  border-radius: 12px;
  color: #194bfb;
}
.unselectedButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  width: 113px;
  height: 48px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  background: #fafafa;
}

.addNew {
  gap: 4px;
  background: #194bfb;
  border-radius: 12px;
  color: #fff;
  margin-left: auto;
  border: none;
  padding: 0px 30px;
margin-right: 10px;

}
.priceFilter {
  position: relative;
}

.priceFilterDropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e2e8f0;
  padding: 16px;
  gap: 24px;
  position: absolute;
  background: #ffffff;
  box-shadow: 4px 12px 32px rgba(93, 106, 131, 0.1);
  border-radius: 12px;
}

.priceFilterDropdown {
  background-color: white;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
}
.filterSelect {
  width: 202.8px;
  height: 48px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  background: none;
  padding-left: 12px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #718096;
}

.tableElement {
  display: flex;
  flex-direction: row;
}

.nameColumn {
  display: flex;
  flex-direction: row;
}

.secondaryText {
  width: 280px;
  height: 24px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #1a202c;
}

.tableRow {
  padding-bottom: 50px;

}
.tableFilter {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.tableHeadButton {
  align-items: center;
  color: #718096;
  background-color: white;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  overflow: visible;
  padding: 0;
  border: none;
  background: none;
}
.searchFilters {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.searchInput {
  display: flex;
  border: 1px solid #e2e8f0;
  border-radius: 15px;
  margin-right: auto;
}
.searchBox {
  border: none;
  border-radius: 15px;
}

.dimension {
  padding: 16px 0px;
}

.curIcon {
margin-right: 8px;

}