.navMenuItem,
.selectedNavMenuItem {
  width: 202px;
  height: 47px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.navMenuItem {
  color: #718096;
}

.selectedNavMenuItem {
  color: white;
  margin-bottom: 30px;
  background: #194bfb;
  border-radius: 12px;
}

.selectedNavText {
  padding-left: 10px;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.unSelectedNavText {
  padding-left: 10px;
}

.subNav {
  border-left: 1px solid #e2e8f0;
  padding-left: -10px;
}

.subNavLink {
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #718096;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.messageCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-left: 40px;
  width: 10px;
  height: 10px;
  background: #1a202c;
  border-radius: 1000px;
}

.selectedIcon {
  color: white;
}
